.right-menu__cross {
  width: 28px;
  height: 28px;
  background-image: url(../../../images/right-menu-cross.svg);
  background-repeat: no-repeat;
  background-size: 28px 28px;
  transition: opacity .2s linear;
}

.right-menu__cross:hover {
  opacity: 0.75;
  cursor: pointer;
}