.right-menu {
  position: fixed;
  width: 475px;
  height: 100vh;
  background-color: #111;
  top: 0;
  right: -475px;
  z-index: 5;
  padding: 42px 80px;
  box-sizing: border-box;
  transition: right .5s;
}